.titlePortfolio {
  color: purple;
  font-family: "Indie Flower", cursive;
  text-align: center;
}

.biographie {
  color: red;
  font-family: "Indie Flower", cursive;
  text-align: justify;
  width: 60%;
  margin: auto;
}

.container {
  width: 60%;
  margin: auto;
  margin-bottom: 40px;
}

.img {
  border-radius: 15px;
}

.navigation {
  list-style: none;
}

.cta {
  width: 50%;
  background-color: rgb(238, 143, 200);
  border-radius: 8px;
  border: 2px solid black;
  padding: 16px;
  text-decoration: none;
  color: black;
  align-self: center;
  font-family: "Indie Flower", cursive;
}

.cta:hover {
  background-color: black;
  color: rgb(238, 143, 200);
  border: 2px solid rgb(238, 143, 200);
}
.button {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.containerNav {
  width: 60%;
  border: 2px solid;
  margin-left: auto;
  margin-right: auto;
  font-family: "Indie Flower", cursive;

  background: rgb(238, 143, 200);
  color: black;
  border-radius: 15px;
  padding: 2%;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  margin: auto;
  padding: 0;
}

.navigation a {
  text-decoration: none;
}
.footer {
  width: 100%;
  background-color: white;
  text-align: center;
  font-family: "Indie Flower", cursive;
  padding: 3%;
  font-size: 1.5em;
  position: fixed;
  bottom: 0;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 30px auto 0;
  text-align: center;
}
